# alasio
msgspec
PyYAML
lxml

# alasio/logger
structlog>=25.5.0
rich
colorama

httpx

# image detection
# one of opencv-python, opencv-python-headless, opencv-contrib-python, opencv-contrib-python-headless
opencv-python-headless

# alasio[backend]
hypercorn>=0.17.3
trio
starlette>=0.19.0
PyJWT

# test
pytest
pytest-trio
